*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Estilos generales. Version de movil*/

header,aside,nav{
    width: 100%;
    height: 50px;
}
footer{
    display: none;
}
main{
    min-height: calc( 100vh - 150px );
    padding-bottom: 50px;
}

nav{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
}

/*Version para tablet*/

    header{
        position: fixed;
        width: 25%;
        top: 0;
        left: 0;
       
    }

    nav{
        background-color: grey;  
        position: absolute;
        top: 0;
        right: 0;
        width: 75%;

    }
    aside{
        position: fixed;
        top: 50px;
        width: 25%;
        background-color: hotpink;
        height: calc(100vh - 50px);
        overflow: auto;
    }
    main{
        position: absolute;
        width: 75%;
        right: 0;
        background-color: khaki;
        top: 50px;
        padding-bottom: 0;
        min-height: calc(100vh - 50px);

    }

}

@media (min-width: 768px) {
aside{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    width: 25%;
    max-width: 200px;
    background-color: lightpink;

}
}
header{
    min-width: 75%;

}
main{
    background-color: lawngreen;
    min-width: 75%;
    width: calc(100vw - 200px);
    position: absolute;
    top: 50px;
    right: 0;

}
nav{
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    min-height: calc(100vh - 100px);
}


footer{
    display: block;
    position: absolute;
    min-width: 75%;
    min-height: calc(100vh - 100px);
    background-color: lightgray;
    bottom: o;
    right: 0;


}

}