table {
    border-collapse: collapse;
    margin: 50px;
}

td,
th {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    padding: 15px;
    align-content: center;
}

tfoot {
    background-color: darkcyan;
    text-align: right;
    text-decoration: none;
}